<form>
  <input type="text" name="status" class="input_box" ng-model="statusSearch.code" placeholder="e.g. 404,405...">
  <input class="btn btn-success" type="submit" value="Find Error" ng-click="findError()"></input>
</form>
<div ng-repeat="error in errors | filter:statusSearch">
  <h2 class="statusCategory">{{error.category}}</h2>
  <h2>{{error.code}} - {{error.text}}</h2>
  <p>{{error.description}} Further reading found  <a href="http://tools.ietf.org/html/rfc7231#section-{{error.reference}}">here</a></p>
</div>

<img src={{randomGiphy}} alt="">
